:root {
    --dark: #70163C;
    --lighter: #120309;
    --text: #D9D0DE;
    --hover: #235789
}

.zs-body {
    background: var(--dark);
    color: var(--text);
}

.zs-nav {
    background: var(--lighter);
    color: var(--text);
    font-family: "Segoe Print";
    height: 100px
}

.zs-nav a {
    color: var(--text);
    font-size: larger;
}

.zs-nav a:hover {
    color: var(--hover)
}

.zs-foot {
    background: var(--lighter);
    color: var(--text);
    height: 75px
}

.zs-foot a {
    color: var(--text)
}

.zs-foot a:hover {
    background: var(--dark)
}

.zs-home {
    color: var(--text);
}

.zs-portfolio {
    margin-bottom: 10%;
}

.zs-portfolio h2 {
    color: black
}

.zs-hover:hover {
    background: var(--hover)
}

#submitBtn {
    background: var(--lighter);
    color: var(--text)
}

.zs-resume {
    background: white;
    color: black;
    margin-bottom: 10%;
    box-shadow: 10px 10px 5px black;
}

.zs-indent {
    margin-left: 25px;
}

@media screen and (min-width: 769px) {

    .zs-contact {
        margin-bottom: 0%;
    }
}

@media screen and (max-width: 768px) {
    .zs-portfolio {
        margin-bottom: 25%;
    }

    .zs-contact {
        margin-bottom: 25%;
    }
}