.zs-nav {
    background: #120309;
    color: #D9D0DE;
    font-family: "Segoe Print";
    height: 100px
}

.zs-nav a {
    color: #D9D0DE;
    font-size: larger;
}

.zs-nav a:hover {
    color: #235789
}